<hr/>
<a href="/classes/new">Add New Class</a>
<a href="/bookings/new">Book Member to Class</a>
<table>
  <thead>
    <h3>All Gym Classes</h3>
  </thead>
  <tr>
    <th>Class Name</th>
    <th>Start Time</th>
    <th>Capacity</th>
    <th>Details</th>
  </tr>
  <% @gym_classes.each do |gym_class| %>
  <tr>
    <td><%= gym_class.name() %></td>
    <td><%= gym_class.start_time() %></td>
    <td><%= gym_class.members().length() %> / <%= gym_class.capacity() %></td>
    <td><a href="/classes/<%= gym_class.id %>">Full Details</a></td>
  </tr>
  <% end %>
</table>
