<div class="class-details">
  <h2>Details for Class: <%= @gym_class.name %></h2>
  <p>Start Time: <%= @gym_class.start_time %></p>
  <p>Capacity: <%= @gym_class.members.length() %> / <%= @gym_class.capacity %></p>
  <div class="member-content">

    <form action="/classes/<%= @gym_class.id() %>/delete" method="post">
      <input type="submit" onclick="deleteAlert()" value="Delete Class">
    </form>
  </div>
  <table>
    <tr>
      <thead>
        <h3>Attending Members</h3>
      </thead>
    </tr>
    <tr>
      <th>Member</th>
      <th>Cancel Booking</th>
    </tr>
    <% for member in @gym_class.members %>
    <tr>
      <td><%= member.merge_name() %></td>
      <td>
        <div class="member-content">
          <form action="/bookings/<%= member.id %>/<%= @gym_class.id %>/delete" method="post">
            <input type="submit" onclick="deleteConfig()" value="Cancel Booking">
          </form>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>
